@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

.projects-header {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 48px;
  /* 40 gets you to the board container, plus 10 padding on the left of each tile, plus 20 padding-left on board */
  margin-left: 70px;
}

.projects-description {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin: 25px 0px 0px 70px;
  font-weight: 400px;
}
