@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px 20px 40px;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: black;
}

.club-name-link {
  font-family: 'Space Mono', sans-serif;
  font-size: 64px;
  font-weight: bold;
}

.menu-container {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-between;
}

.menu-link {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
