@import url(//db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular);
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

* {
  box-sizing: border-box;
}

.projects-board {
  display: flex;
  flex-direction: row-reverse;
  padding: 30px 30px 30px 60px;
}

.board-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 100px;
}

body {
  min-height: 100%;
}

.filter-container {
  display: flex;
  flex-direction: column;
}

.dropdown-container {
  display: flex;
  cursor: pointer;
  margin-top: 10px;
  background: white;
  box-shadow: 10px 10px 30px DarkGray;
}

.labels-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 150px;
}

.filter-label {
  margin: 0;
  padding-left: 0;
  padding-right: 20px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.dropdown-hamburger {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.dropdown-items div {
  padding: 12px 6px 12px 12px;
  background: white;

  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-text {
  padding: 0px 0px 3px 20px;
}
